.webpage-body{ 
    background-color: black;
}
hr{
    border: 0;
    height: 1px;
    background: black;
}
p{color: #FFFFFF;}
a{color: #FFFFFF;}
h1{color: #FFFFFF;}
h3{color: #FFFFFF;}
h6{color: #FFFFFF;}
hr{color:#FFFFFF;
    background-color:#FFFFFF;}