<div class="topnav" id="navbar">
    <div class="mobile-hamburger-container">
        <div class="mobile-hamburger" id="menu-button">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
    <div class="links" id="links">
        <a class="active" href="index.html">Home</a>
        <a href="about_us.html">About Us</a>
        <a href="contact_us.html">Contact Us</a>
        <a href="tshirt_cannon.html">CannonBot</a>
        <a href="frc.html">FRC</a>
        <a href="ftc.html">FTC</a>
        <a href="fundraising.html">Fundraising</a>
        <a href="calendar.html">Calendar</a>
        <a href="gallery.html">Gallery</a>
    </div>
</div>