<div class="my-gallery-item" itemscope itemtype="http://schema.org/ImageGallery" [DIV_ATTRS]>
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" style="margin:0px;">
        <a href="[IMG_SRC]" itemprop="contentUrl" data-size="[SIZE]">
            <img class="gallery-img" src="[IMG_SRC]" itemprop="thumbnail" [IMG_ATTRS]/>
        </a>
        <figcaption class="pswp__caption__center" itemprop="caption description">[CAPTION]</figcaption>
    </figure>
</div>